@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Pixels&family=Saira:wght@100&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);



body {
    background-color: black;
    color: white;

}

.background-image {
  background: url(../images/stockvault-artificial-intelligence-bright-brain257179.opacity.jpg)center center;
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

body h1 {
    font-family: "Rubik Pixels", "Press Start 2P";
    position:absolute;
    color: white;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    top: 200px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

/* Animation, neon light in the heading line */

.logo b{
    font: 400 19vh;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #e044ff, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  .logo b span{
    animation: blink linear infinite 2s;
  }
  .logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

/* start game sign with zoom effects */

.startgame {
    font-family: "Rubik Pixels", "Press Start 2P";
    position:absolute;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    top: 330px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.startgame:hover {
    display: block;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }

/* game page*/

#heading-game {
    font-family: "Rubik Pixels", "Press Start 2P";
    position:absolute;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.restartgame {
    font-family: "Rubik Pixels", "Press Start 2P";
    position:absolute;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    top: 100px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}
  
  .restartgame:hover {
    display: block;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 10px;
    letter-spacing: 2px;
    transition: all .25s;
  }


/*Game board*/

.board-game {
    position: absolute;
    top: 150px;
    left: 30vw;
    margin: auto;
    width: 40vw;
    height: 730px;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-row {
    margin-top: 20px;
    border: solid blueviolet;
    height: 3.2rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 5px;
}

.row-number {
    position: absolute;
    font-size: 30px;
    width: 20px;
}

.color-row {
  position: relative;
  display: grid;
  left: 2.2rem;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(1, 50px);
  margin: -6px 5px 5px 0;
  }

  .color_hole {
    position: relative;
  }

/* choose colors */

h2 {
    position: absolute;
    justify-content: center;
    padding: 5px;
    top: 140px;
    right: 68vw;
    text-align: center;
}

.colors {
    position: absolute;
    justify-content: center;
    padding: 5px;
    top: 220px;
    right: 70vw;
}

.choose,
.choosen-color {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.blue {
    position: relative;
    z-index: 1;
    background-color: blue;
     box-shadow:
     0 0 10px 2px #48a6ff,
     0 0 80px 10px rgb(0, 162, 255), 
     0 0 10px 0px rgb(0, 26, 255)
}

.yellow {
    position: relative;
    z-index: 1;
    background-color: rgb(180, 180, 0);
    box-shadow:
     0 0 10px 2px #fff599,
     0 0 80px 10px rgb(255, 237, 71), 
     0 0 10px 0px rgb(229, 255, 0)
}

.orange {
    position: relative;
    z-index: 1;
    background-color: rgb(180, 117, 0);
    box-shadow:
     0 0 10px 2px #ffbc6e,
     0 0 80px 10px rgb(255, 157, 45), 
     0 0 10px 0px rgb(255, 166, 0)
}

.green {
    position: relative;
    z-index: 1;
    background-color: green;
    box-shadow:
     0 0 10px 2px #bdff67,
     0 0 80px 10px rgb(141, 255, 48), 
     0 0 10px 0px rgb(9, 255, 0)
}

.purple {
    position: relative;
    z-index: 1;
    background-color: purple;
    box-shadow:
     0 0 10px 2px #e979ff,
     0 0 80px 10px rgb(255, 61, 239), 
     0 0 10px 0px rgb(234, 0, 255)
}

.red {
    position: relative;
    z-index: 1;
    background-color: rgb(148, 0, 0);
    box-shadow:
     0 0 10px 2px #ff798f,
     0 0 80px 10px rgb(255, 51, 119), 
     0 0 10px 0px rgb(255, 0, 55)
}

/* Hints */

.full {
    width: 10px;
    height: 10px;
    background-color: #000;
}

.half {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.hint_holes {
    position: relative;
    background: #000;
    left: 41vw;
    bottom: 50px;
    width: 40px;
    height: 40px;
    margin: 0 10px 0px -75px;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
}

.little_hole {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 2px;
    background-color: #2e0d35;
}

/* Check if colors is right */
 
.check_box {
    position: relative;
    font-size: 40px;
    left: 41vw;
    bottom: 90px;
}